<app-navbar></app-navbar>
<div class="main">
    <div class="login-div">
        <form class="form">
            <div class="login-title">
                <h1>Login</h1>
            </div>
            <div class="email">
                <label for="">Email</label><br>
                <input type="email" placeholder="johndoe@gmail.com" class="email-input">
            </div>
            <div class="email">
                <label for="">Password</label><br>
                <input type="password" placeholder="******" class="password">
            </div>
            <div class="forgot-btn">
                <a class="forgot-href">Forgot Password</a>
            </div>
            <div class="email">
                <button class="login-btn">Sign in</button>
            </div>
            <div class="forgot-btn">
                <a class="forgot-href" routerLink="/register">Dont have an account? Click here to sign up</a>
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>