<app-navbar></app-navbar>
<div class="main">
    <div class="landing">
        <img src="../../../assets/Landing Page.jpg" alt="" class="landing-img">
        <div class="landing-txt">
            <h1>
                Welcome to Tuuze Shop.<br>
                At Tuuze, We got you covered.
            </h1>
            <button class="collection-btn">VIEW COLLECTION</button>
        </div>
    </div>
    <div class="carousel">
        <div class="caro1">
            <div class="img-carousel">
                <img src="../../../assets/carousel 1.jpg" alt="" class="carousel-img">
                <div class="carousel-text">
                    <p>SUMMER COLLECTION</p>
                </div>
            </div>
            <div class="img-carousel">
                <img src="../../../assets/carousel 2.jpg" alt="" class="carousel-img">
                <div class="carousel-text">
                    <p>SPRING COLLECTION</p>
                </div>
            </div>
            <div class="img-carousel">
                <img src="../../../assets/carousel 3.jpg" alt="" class="carousel-img">
                <div class="carousel-text">
                    <p>AUTUMN COLLECTION</p>
                </div>
            </div>
            <div class="img-carousel">
                <img src="../../../assets/carousel 4.jpg" alt="" class="carousel-img">
                <div class="carousel-text">
                    <p>WINTER COLLECTION</p>
                </div>
            </div>
        </div>
        <div class="caro2">
            <div class="img-carousel">
                <img src="../../../assets/carousel 1.jpg" alt="" class="carousel-img">
                <div class="carousel-text">
                    <p>SUMMER COLLECTION</p>
                </div>
            </div>
            <div class="img-carousel">
                <img src="../../../assets/carousel 2.jpg" alt="" class="carousel-img">
                <div class="carousel-text">
                    <p>SPRING COLLECTION</p>
                </div>
            </div>
            <div class="img-carousel">
                <img src="../../../assets/carousel 3.jpg" alt="" class="carousel-img">
                <div class="carousel-text">
                    <p>AUTUMN COLLECTION</p>
                </div>
            </div>
            <div class="img-carousel">
                <img src="../../../assets/carousel 4.jpg" alt="" class="carousel-img">
                <div class="carousel-text">
                    <p>WINTER COLLECTION</p>
                </div>
            </div>
        </div> 
    </div>
</div>

<app-footer></app-footer>
