<app-navbar></app-navbar>
<div class="main">
    <div class="login-div">
        <form class="form">
            <div class="login-title">
                <h1>Register Account</h1>
            </div>
            <div class="email">
                <label for="">First Name</label><br>
                <input type="text" placeholder="John" class="email-input">
            </div>
            <div class="email">
                <label for="">Last Name</label><br>
                <input type="text" placeholder="Doe" class="password">
            </div>
            <div class="email">
                <label for="">Email</label><br>
                <input type="email" placeholder="johndoe@gmail.com" class="email-input">
            </div>
            <div class="email">
                <label for="">Password</label><br>
                <input type="password" placeholder="******" class="password">
            </div>
            <div class="email">
                <label for="">Confirm Password</label><br>
                <input type="password" placeholder="******" class="password">
            </div>
            <div class="email">
                <button class="login-btn">Sign up</button>
            </div>
            <div class="forgot-btn">
                <a class="forgot-href" routerLink="/login">Already have an account</a>
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>
