<app-navbar></app-navbar>
<div class="main">
    <div class="table-div">
        <table  class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email Address</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ID</td>
                    <td>fname</td>
                    <td>lname</td>
                    <td>email</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<app-footer></app-footer>
