<app-navbar></app-navbar>
<div class="main">
    <div class="landing">
        <img src="../../../assets/Landing Page.jpg" alt="" class="landing-img">
        <div class="landing-txt">
            <h1>
                Welcome Admin.<br>
                It's been a minute.
            </h1>
            <button class="collection-btn">VIEW COLLECTION</button>
        </div>
    </div>
    <div class="products-div">
        <div class="prod-title">
            <h1>Our Products</h1>
        </div>
        <div class="products">
            <div class="prod" (click)="showProduct()">
                <div class="img-prod">
                    <img src="../../../assets/carousel 4.jpg" alt="" class="prod-img">
                    <div class="prod-text">
                        <div class="edit-btn">
                            <button class="edit">Edit</button>
                        </div>
                        <div class="delete-btn">
                            <button class="delete">Delete</button>
                        </div>
                    </div>
                </div>
                
                <div class="prod-desc">
                    <p>Navy Blue Plain Jeans at Ksh. 1000 only</p>
                </div>
            </div>
            <div class="prod" (click)="showProduct()">
                <div class="img-prod">
                    <img src="../../../assets/carousel 4.jpg" alt="" class="prod-img">
                    <div class="prod-text">
                        <div class="edit-btn">
                            <button class="edit">Edit</button>
                        </div>
                        <div class="delete-btn">
                            <button class="delete">Delete</button>
                        </div>
                    </div>
                </div>
                
                <div class="prod-desc">
                    <p>Navy Blue Plain Jeans at Ksh. 1000 only</p>
                </div>
            </div>
            <div class="prod" (click)="showProduct()">
                <div class="img-prod">
                    <img src="../../../assets/carousel 4.jpg" alt="" class="prod-img">
                    <div class="prod-text">
                        <div class="edit-btn">
                            <button class="edit">Edit</button>
                        </div>
                        <div class="delete-btn">
                            <button class="delete">Delete</button>
                        </div>
                    </div>
                </div>
                
                <div class="prod-desc">
                    <p>Navy Blue Plain Jeans at Ksh. 1000 only</p>
                </div>
            </div>
            <div class="prod" (click)="showProduct()">
                <div class="img-prod">
                    <img src="../../../assets/carousel 4.jpg" alt="" class="prod-img">
                    <div class="prod-text">
                        <div class="edit-btn">
                            <button class="edit">Edit</button>
                        </div>
                        <div class="delete-btn">
                            <button class="delete">Delete</button>
                        </div>
                    </div>
                </div>
                
                <div class="prod-desc">
                    <p>Navy Blue Plain Jeans at Ksh. 1000 only</p>
                </div>
            </div>
            <div class="prod" (click)="showProduct()">
                <div class="img-prod">
                    <img src="../../../assets/carousel 4.jpg" alt="" class="prod-img">
                    <div class="prod-text">
                        <div class="edit-btn">
                            <button class="edit">Edit</button>
                        </div>
                        <div class="delete-btn">
                            <button class="delete">Delete</button>
                        </div>
                    </div>
                </div>
                
                <div class="prod-desc">
                    <p>Navy Blue Plain Jeans at Ksh. 1000 only</p>
                </div>
            </div>
            <div class="prod" (click)="showProduct()">
                <div class="img-prod">
                    <img src="../../../assets/carousel 4.jpg" alt="" class="prod-img">
                    <div class="prod-text">
                        <div class="edit-btn">
                            <button class="edit">Edit</button>
                        </div>
                        <div class="delete-btn">
                            <button class="delete">Delete</button>
                        </div>
                    </div>
                </div>
                
                <div class="prod-desc">
                    <p>Navy Blue Plain Jeans at Ksh. 1000 only</p>
                </div>
            </div>
            <div class="prod-modal-bg">
                <div class="prod-modal">
                    <div class="modal-img">
                        <img src="../../../assets/carousel 4.jpg" alt="" class="img-modal">
                    </div>
                    <div class="modal-text">
                        <div class="close-icon" (click)="closeModal()">
                            <i class="fa-solid fa-circle-xmark"></i>
                        </div>
                        <div class="mod-cont">
                            <div class="modal-desc">
                                <p>Navy Blue Plain Jeans at Ksh. 1000 only</p>
                            </div>
                            <div class="modal-plus">
                                <i class="fa-solid fa-minus"></i>
                                <p>2</p>
                                <i class="fa-solid fa-plus"></i>
                            </div>
                            <div class="modal-add-cart">
                                <button class="cart-btn">ADD TO CART</button>
                            </div>
                        </div>
                        
                        
                    </div>

                </div>
            </div>
        </div>
    </div>
    
</div>

<app-footer></app-footer>
